<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!--------------------------------- Кнопка вызова модального окна (добавление топика) --------------------------------->

<a th:fragment="add-topic_button" id="modal_add-topic_button" type="button"
   class="btn btn-dark" role="button" href="/addTopic" style="color: white">
    Новая статья
</a>

<!--------------------------------------------------------------------------------------------------------------------->

<!--------------------------------------------------- Модальное окно -------------------------------------------------->

<!--------------------------------------------------------------------------------------------------------------------->
</body>
</html>