<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="add-topic_modal" class="modal fade" id="modalWindowCreateTopic" tabindex="-1" role="dialog" aria-labelledby="createTopic" aria-hidden="true">
    <div id="alerts_container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Создать статью</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="formAddTopic">
                    <div class="form-group">
                        <label for="topic_title">Заголовок</label>
                        <input type="text" class="form-control" id="topic_title" name="title">
                    </div>
                    <div class="form-group">
                        <label for="topic_content">Содержание</label>
                        <textarea class="form-control" id="topic_content" rows="10" name="content"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseFormCreateTopic">Закрыть</button>
                <button type="button" class="btn btn-primary" id="add_topic_button">Сохранить</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>