<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>

<header class="masthead" style="height: 5rem; padding:0" th:fragment="header">
    <!--    style="background-image: url('img/home-bg.jpg')"-->

    <div class="overlay">   </div>

    <div class="container">
        <!--        <div class="row">-->
        <!--            <div class="col-lg-3 col-md-7 mx-auto">-->
        <!--                <div class="site-heading">-->
        <!--                    <h3>Clean Blog</h3>-->
        <!--                    <span class="subheading">A Blog Theme by Start Bootstrap</span>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>

</header>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" th:fragment="navBarMenu">

    <div class="container">

        <div sec:authorize="isAuthenticated()">
            <a class="btn btn-success"th:href="@{/}">Главная</a>
        </div>

        <div sec:authorize="isAnonymous()">
            <a class="btn btn-success" th:href="@{/login}">Login</a>
            <a class="btn btn-primary" th:href="@{/registration}">Register</a>
        </div>


        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item align-items-center">
                    <!-- Форма поиска топиков по хэштегу -->
                    <form class="form-inline">

                        <input id="hashtag_input" class="test form-control form-control-sm rounded-left" type="search" placeholder="#Поиск" aria-label="Search">

                        <div sec:authorize="isAuthenticated()">
                            <button id="hashtag_home_button" data-user-id="1" class="btn btn-primary btn-sm rounded-right" type="button">Искать</button>
                        </div>

                        <div sec:authorize="isAnonymous()">
                            <button id="hashtag_all_button" data-user-id="1" class="btn btn-primary btn-sm rounded-right" type="button">Искать</button>
                        </div>

                    </form>
                </li>

            </ul>
        </div>

        <div sec:authorize="isAuthenticated()">
            <a class="btn btn-success"th:href="@{/logout}">Выход</a>
        </div>

    </div>
</nav>


<!-- Footer -->
<footer th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                </ul>
                <p class="lead text-center">
                    Copyright &copy;
                    <span id="year"></span>
                    Java Mentor
                </p>
            </div>
        </div>
    </div>
</footer>



</body>
</html>