<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<nav th:fragment="home_header" class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="collapse navbar-collapse d-flex" id="navbarCollapse">
        <ul class="navbar-nav menu mr-auto d-flex flex-grow-1">
            <div style="float:left">
                <a class="navbar-brand col-2 p-0" href="/">
                    <img src="/img/logo.svg" width="32" height="32" class="d-inline-block align-top m-1" alt="...">
                    <h2 class="d-inline-block m-0">Clone medium</h2>
                </a>
            </div>
            <li sec:authorize="isAuthenticated()" id="all_page_link" class="nav-item ml-5">
                <a class="nav-link" href="/">Все статьи</a>
            </li>
            <li sec:authorize="isAuthenticated()" id="main_page_link" class="nav-item">
                <a class="nav-link" href="/home">Мои статьи</a>
            </li>
            <li sec:authorize="isAuthenticated()" id="user_page_link" class="nav-item">
                <a class="nav-link" href="/user">Мои данные</a>
            </li>
        </ul>
        <!--------------------------------- Кнопка панели администратора --------------------------------------->
        <div sec:authorize="hasAuthority('ADMIN')" th:if="${#httpServletRequest.requestURI != '/admin/allUsers'} and ${#httpServletRequest.requestURI != '/admin/moderate'} and ${#httpServletRequest.requestURI != '/admin/themes'}"class="mr-4">
            <a th:href="@{/admin/allUsers}" class="btn btn-warning">Панель администратора</a>
        </div>
        <!--------------------------------------------------------------------------------------------------------->
        
        <!------------------------------------------------------- Колокольчик + счётчик уведомлений ------------------->
        <div class="dropdown">
        <ul sec:authorize="isAuthenticated()" class="navbar-nav mr-auto d-flex">
            <li id="notification_bell" class="nav-item">
                <a class="navbar-brand col-2 p-0" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <svg width="1em" height="2em" viewBox="0 0 16 16" id="notif_bell" class="bi bi-bell-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                    </svg>
                    <span id="notif_counter" class="badge"> </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="drop_note">
                        <!-- getAllNotifications.js 1 строка -->
                </div>
            </li>
        </ul>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------------------------------>

        <ul class="navbar-nav mr-auto">
            <!--------------------------------- Форма поиска топиков по хэштегу --------------------------------------->
            <li id="finderByHashtag" class="nav-item px-2 d-flex align-items-center">
                <form class="form-inline">
                    <input id="hashtag_input" class="test form-control form-control-sm rounded-left" type="search"
                           placeholder="#Поиск" aria-label="Search">
                    <button id="hashtag_home_button" class="btn btn-light btn-sm rounded-right" type="button">Искать
                    </button>
                </form>
            </li>
            <!--------------------------------------------------------------------------------------------------------->
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/logout">Выход</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" href="/login">Войти</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>

