<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!---------------------------------------------- Выпадающий список уведомлений ------------------------------------------->
<div th:fragment="notification_drop_list">

    <div class="btn-group" id="notifDropList">
        <div class="dropdown-menu">

        </div>
    </div>

</div>
<!--------------------------------------------------------------------------------------------------------------------->

</body>
</html>