<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!---------------------------------------------- Выпадающий список уведомлений ------------------------------------------->
<div th:fragment="notification_drop_list">

    <div class="btn-group" id="notifDropList">
        <div class="dropdown-menu">

<!--            <a class="dropdown-item" href="#">Action</a>-->
<!--            <a class="dropdown-item" href="#">Another action</a>-->
<!--            <a class="dropdown-item" href="#">Something else here</a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">Separated link</a>-->

        </div>
    </div>


<!--    <div class="modal right fade" id="showNotifModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog modal-right modal-notify modal-info" role="document">-->
<!--            <div class="modal-content">-->
<!--                &lt;!&ndash;Header&ndash;&gt;-->
<!--                <div class="modal-header">-->
<!--                    <h4 class="modal-title">Уведомления</h4>-->
<!--                </div>-->
<!--                &lt;!&ndash;Body&ndash;&gt;-->
<!--                <div class="modal-body" id="modalNotifBody">-->

<!--                </div>-->
<!--                &lt;!&ndash;Footer&ndash;&gt;-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-outline-primary" id="modalNotifCloseButton" data-dismiss="modal">Закрыть</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</div>
<!--------------------------------------------------------------------------------------------------------------------->

</body>
</html>