<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>

<nav th:fragment="admin-left_side_bar" class="col-md-2 d-none d-md-block bg-light sidebar">

    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item side_bar">
                <a id="admin_users_link" class="nav-link side_bar" href="/admin/allUsers">
                    Список пользователей
                </a>
            </li>
            <li class="nav-item side_bar">
                <a id="admin_moderate_link" class="nav-link side_bar" href="/admin/moderate">
                    Модерация топиков
                </a>
            </li>
            <li class="nav-item side_bar">
                <a id="admin_themes_link" class="nav-link side_bar" href="/admin/themes">
                    Темы топиков
                </a>
            </li>
            <li class="nav-item side_bar">
                <a id="admin_top_topics_link" class="nav-link side_bar" href="/admin/top_topics">
                    Лучшие статьи
                </a>
            </li>
            <li class="nav-item side_bar">
                <a id="admin_top_comments_link" class="nav-link side_bar" href="/admin/top_comments">
                    Лучшие комментарии
                </a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>