
body {
    height: 100vh;
}

#hashtag_input, #hashtag_home_button {
    border-radius: 0;
}

.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    /*border-radius: 24px;*/
    border-radius: 6px;
    /*margin: 10px 10px 10px 0;*/
    margin: 20px;
    padding: 6px;
    color: #000;
    display: block;
}

.google-plus-g a:hover {background: #DD4B39; color: #fff;}
.facebook-f a:hover {background: #3b5998; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}

.social-buttons {
    display: inline-flex;
}
.card {
    margin-top: 30px;
}

/* Уведомления, число над колокольчиком */
.badge {
    position: absolute;
    top: -15px;
    right: -30px;
    padding: 5px 10px;
    border-radius: 25%;
    background: gray(0);
    color: white;
    font-size: small;
    size: 15px;
}

#topics_container i.fa,
#single_topic_container i.fa {
    /*color: dodgerblue;*/
    font-size: 1.4em;
    padding: 5px;
}

.card-text-onTopic{
    font-family:sans-serif;
    font-size: 15px;
    margin-left: -7px;
}

#single_topic_container i.fa:hover {
    cursor: pointer;
}

#likeCounter, #dislikeCounter {
    font-size: 1.5em;
    margin-right: 20px;
}

.block-like, .block-dislike {
    display: inline-block;
}

.active{
    color: dodgerblue;
}

#datecreated {
    font-size: 70%;
    color: #777777;
}

.topic-img {
    width: 225px;
}

.card-header-author{
    text-align: center;
}

.topic_meta {
    font-size: 13px;
    margin-bottom: 5px;
}

.topic {
    margin-top: 48px;
}

.topic a {
    color: #333;
}

.topic a:visited {
    color: #487284;
}

.topic a:hover {
    color: #5d84ae;
    text-decoration: none;
}

.author_name {
    color: #548eaa;
}

.author_name a {
    color: #548eaa;
}

.author_name a:hover {
    color: #5d84ae;
}

.topic_time {
    margin-left: 8px;
}

.topic_title {
    margin: 0 0 9px;
    font-size: 28px;
    font-weight: bold;
}

.topic_theme, .topic_tag{
    font-size: 13px;
}

.topic_theme a {
    color: #5e6973;
}

.topic_tag a {
    color: #5e6973;
}

.topic_body {
    padding-top: 20px;
    padding-bottom: 24px;
}

.topic_text {
    margin-right: -5px;
    padding-right: 5px;
    color: #222;
    font-size: 16px;
}

.topic_text img {
    margin: 0;
    vertical-align: middle;;
    min-width: 70%;
    max-width: 100%;
    height: auto;
}

.topic_stats {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #e5e9eb;
    height: 40px;
    border-radius: 4px;
}

.topic_stats_items {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-left: 20px;
}

.topic_stats_items_counter {
    margin-left: 8px;
}

.topic_stats_items_comments {
    padding-left: 0;
    padding-right: 12px;
}

#comments_container i.fa {
    padding: 5px;
}
#comments_container i.fa:hover {
    cursor: pointer;
}

.rated {
    color: dodgerblue;
}

#add_comment_button:focus {
    outline: none;
    box-shadow: none;
}


