
body {
    height: 100vh;
}

#hashtag_input, #hashtag_home_button {
    border-radius: 0px;
}

.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    /*border-radius: 24px;*/
    border-radius: 6px;
    /*margin: 10px 10px 10px 0;*/
    margin: 20px;
    padding: 6px;
    color: #000;
    display: block;
}

.google-plus-g a:hover {background: #DD4B39; color: #fff;}
.facebook-f a:hover {background: #3b5998; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}

.social-buttons {
    display: inline-flex;
}
.card {
    margin-top: 30px;
}

/* Уведомления, число над колокольчиком */
.badge {
    position: absolute;
    top: -15px;
    right: -30px;
    padding: 5px 10px;
    border-radius: 25%;
    background: gray(0);
    color: white;
    font-size: small;
    size: 15px;
}

#topics_container i.fa,
#single_topic_container i.fa {
    /*color: dodgerblue;*/
    font-size: 1.4em;
    padding: 5px;
}

#single_topic_container i.fa:hover {
    cursor: pointer;
}

#likeCounter, #dislikeCounter {
    font-size: 1.5em;
    margin-right: 20px;
}

.block-like, .block-dislike {
    display: inline-block;
}

.active{
    color: dodgerblue;
}

#datecreated {
    font-size: 70%;
    color: #777777;
}
.topic-img {
    width: 225px;
}
.card-header-author{
    text-align: center;
}


#comments_container i.fa {
    padding: 5px;
}
#comments_container i.fa:hover {
    cursor: pointer;
}

.rated {
    color: dodgerblue;
}

#add_comment_button:focus {
    outline: none;
    box-shadow: none;
}


