<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"  id="bootstrap-css">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

<body class="bg-light text-center">
<div class="mx-auto my-5" style="width: 100%; max-width: 330px;">
    <div>
        <p th:if="${flag}" th:text="${resend}" class="alert alert-warning"></p>
        <p th:unless="${flag}" class="alert alert-success">Вы успешно зарегистрировались на сайте. Проверьте почту чтобы подтвердить свой Email.</p>
    </div>
    <p>Если письмо не пришло нажмите сюда: </p>
    <form action="/registration/resend" method="post">
        <input type="hidden" name="code" th:value="${regUser.activationCode}">
        <button type="submit" class="btn btn-primary" name="btnSend">Отправить повторно</button>
    </form>
    <br>
    <p>Или выполните вход: </p>
    <a href="/login" class="btn btn-success">Вход</a>
</div>

</body>
</html>