<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Login page</title>
</head>

<body class="bg-light text-center">
<div class="mx-auto my-5" style="width: 100%; max-width: 330px;">
    <div>
        <p th:if="${flag}" th:text="${resend}" class="alert alert-warning"></p>
        <p th:unless="${flag}" class="alert alert-success">Вы успешно зарегистрировались на сайте. Проверьте почту чтобы подтвердить свой Email.</p>
    </div>
    <p>Если письмо не пришло нажмите сюда: </p>
    <form action="/registration/resend" method="post">
        <input type="hidden" name="code" th:value="${regUser.activationCode}">
        <button type="submit" class="btn btn-primary" name="btnSend">Отправить повторно</button>
    </form>
    <br>
    <p>Или выполните вход: </p>
    <a href="/login" class="btn btn-success">Вход</a>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script></script>
</body>
</html>