<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/color_moderated.css">
    <title>Admin</title>
</head>
<body>

<!------------------------------------------------------- Шапка ------------------------------------------------------->
<nav th:replace="fragments/header :: home_header"></nav>
<!--------------------------------------------------------------------------------------------------------------------->

<div class="container-fluid">
    <div class="row">
        <!------------------------------------------ Боковая панель ------------------------------------------>
        <nav th:replace="fragments/side-bar :: admin-left_side_bar"></nav>
        <!---------------------------------------------------------------------------------------------------->

        <!-- Модальное окно Уведомлений -->
        <div th:replace="fragments/notification_modal_dropdown :: notification_modal_dropdown"></div>

        <!------------------------------------ Область отображения данных ------------------------------------>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h2>Section title</h2>

            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody th:object="${authUser}">
                <tr th:each="user: ${allUsers}">
                    <th scope="row"><span th:text="${user.getId()}">id</span></th>
                    <td><span th:text="${user.getFirstName()}">firstName</span></td>
                    <td><span th:text="${user.getLastName()}">lastName</span></td>
                    <td><span th:text="${user.getUsername()}">email</span></td>
                    <td><span th:text="${user.getRole().getName()}">role</span></td>
                    <td>
                        <form action="#" method="get"
                              th:action="@{'/admin/form_edit_user/'+${user.id}}">
                            <button type="submit" class="btn btn-info btn-primary">редактировать</button>
                        </form>
                    </td>
                    <td>
                        <form action="#" method="post"
                                th:action="@{/admin/enable/}" th:if="${user.getId()!=authUser.getId()}and not ${user.getLockStatus()}">
                            <button type="submit" class="btn btn-success btn-primary" name="enableId" th:value="${user.getId()}">активировать</button>
                        </form>

                        <form action="#" method="post"
                                th:action="@{/admin/disable/}" th:if="${user.getId()!=authUser.getId()}and ${user.getLockStatus()}">
                            <button type="submit" class="btn btn-danger btn-primary" name="disableId" th:value="${user.getId()}">деактивировать</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

        </main>
        <!---------------------------------------------------------------------------------------------------->
    </div>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
<script src="/js/util/ws.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/admin-all_users-events.js"></script>
<script src="/js/header_events.js"></script>
<script src="/js/getAllNotifications.js"></script>

</body>
</html>
