<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/color_moderated.css">
    <title>Admin</title>
</head>
<body>

<!------------------------------------------------------- Шапка ------------------------------------------------------->
<nav th:replace="fragments/header :: home_header"></nav>
<!--------------------------------------------------------------------------------------------------------------------->

<div class="container-fluid">
    <div class="row">
        <!------------------------------------------ Боковая панель ------------------------------------------>
        <nav th:replace="fragments/side-bar :: admin-left_side_bar"></nav>
        <!---------------------------------------------------------------------------------------------------->

        <!------------------------------------ Область отображения данных ------------------------------------>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h2>Section title</h2>
            <div id="moderate_cards">
            </div>
            <!------------------------------------ Модальное окно для удаления топика ------------------------------------>
            <div class="modal fade" id="deleteModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">x</button>
                        </div>

                       <div class="modal-body">
                           <a>Вы действительно хотите удалить топик?</a>
                       </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger"
                                    id="Dsubmit"
                            >Удалить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!------------------------------------ Модальное окно для модерации топика ------------------------------------>
            <div class="modal fade" id="moderateModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Модерация</h3>
                            <button class="close" data-dismiss="modal">x</button>
                        </div>

                        <div class="modal-body">
                            <a>Вы действительно хотите одобрить топик?</a>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success"
                                    id="Msubmit"
                            >Подтвердить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!------------------------------------ Модальное окно для показа полного текста ------------------------------------>
            <div class="modal" tabindex="-1" role="dialog" id="showModal" data-backdrop="static" >
                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="modalBody">

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="closeModalButton" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <ul id="page_buttons" class="pagination">
                </ul>
            </nav>
        </main>
        <!---------------------------------------------------------------------------------------------------->
    </div>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/getNotModeratedTopicsCount.js"></script>
<script src="/js/getAndPrintNotModeratedTopicsPage.js"></script>
<script src="/js/admin-moderate-events.js"></script>
<script src="/js/parseText.js"></script>
<script src="/js/getNotifCounterByPrincipal.js"></script>

</body>
</html>
