<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <title>Admin</title>
</head>
<body>
<!------------------------------------------------------- Шапка ------------------------------------------------------->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 m-0 p-0" href="/home">
        <img src="/img/logo.svg" width="32" height="32" class="d-inline-block align-top m-1" alt="..."> <h2 class="d-inline-block m-0">Clone medium</h2></a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Выход</a>
        </li>
    </ul>
</nav>
<!--------------------------------------------------------------------------------------------------------------------->

<div class="container-fluid">
    <div class="row">
        <!------------------------------------------ Боковая панель ------------------------------------------>
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a id="admin_users_link" class="nav-link active" href="/admin/allUsers">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            Список пользователей
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="admin_miderate_link" class="nav-link" href="/admin/moderate">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                            Модерация топиков
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!---------------------------------------------------------------------------------------------------->

        <!------------------------------------ Область отображения данных ------------------------------------>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h2>Section title</h2>

            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Admin</td>
                    <td>Adminov</td>
                    <td>admin@mail.ru</td>
                    <td>ADMIN</td>
                    <td>admin@mail.ru</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>User</td>
                    <td>Userov</td>
                    <td>user@mail.ru</td>
                    <td>USER</td>
                    <td>user@mail.ru</td>
                </tr>
                </tbody>
            </table>

        </main>
        <!---------------------------------------------------------------------------------------------------->
    </div>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
