<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/notification_bell.css">
  <title>Home</title>
</head>
<body>
<!------------------------------------------------------- Шапка ------------------------------------------------------->
<nav th:replace="fragments/header :: home_header"></nav>
<!--------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------- Топики ------------------------------------------------------>

<div class="d-flex justify-content-center py-5">
  <div id="topics_container" class="container mx-0 py-3">
    <!-- Заполняется скриптом getAndPrintAllTopicsOfUser -->
  </div>
  <!-- Кнопка добавления топика -->
  <div sec:authorize="isAuthenticated()" th:replace="fragments/add-topic-modal :: add-topic_button"></div>
</div>

<!--------------------------------------------------------------------------------------------------------------------->

<!------------------------------------------------ Модальное окно ----------------------------------------------------->
<nav th:replace="fragments/add-topic-modal :: add-topic_modal"></nav>
<!--------------------------------------------------------------------------------------------------------------------->

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/all_topics_events.js"></script>
<script src="/js/getAllTopicsByHashtag.js"></script>
<script src="/js/getAndPrintModeratedTopics.js"></script>
<script sec:authorize="isAuthenticated()" src="/js/addTopic.js"></script>
<script src="/js/util/topic-in-card.js"></script>
<script src="/js/add-topic_events.js"></script>
<script src="/js/parseText.js"></script>
<script sec:authorize="isAuthenticated()" src="/js/add-topic_events.js"></script>
<script sec:authorize="isAuthenticated()" src="/js/getNotifCounterByPrincipal.js"></script>
</body>
</html>
