<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="js/select2/css/select2.css">
  <title>All topics page</title>
</head>
<body>
<!------------------------------------------------------- Шапка ------------------------------------------------------->
<nav th:replace="fragments/header :: home_header"></nav>
<!--------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------- Топики ------------------------------------------------------>

<div class="d-flex justify-content-center py-5">
  <div id="topics_container" class="container mx-0 py-3">
    <!-- Заполняется скриптом getAndPrintAllTopicsOfUser -->
    <th:block th:each="topic : ${topics}">
      <div class="card mb-2">
        <div th:class="${topic.isModerate() ? 'card-header d-flex justify-content-between moderated' : 'card-header d-flex justify-content-between notmoderated'}">
          <a th:href="${'/topic/' + topic.getId()}">
            <h5 th:id="${'title_'+ topic.getId()}" th:text="${topic.getTitle()}"></h5>
          </a>
          <h6 th:text="${{topic.getDateCreated()}}"></h6>
<!--          <button sec:authorize="isAuthenticated()" th:id="${'modal_edit-topic_button_' + topic.getId()}"
                  class="btn btn-success btn-sm rounded-1 editTopicBtn" type="button" th:attr="data-topic-id=${topic.getId()}"
                  data-toggle="modal" data-target="#modalWindowCreateTopic"  data-placement="top" title="Edit">
            <i class="fa fa-edit text-white"></i>
          </button>-->
        </div>
        <div class="card-body">
          <h6 class="card-title" th:text="${topic.getAuthors()}"></h6>
          <h6 class="card-title" th:text="${topic.getHashtags()}"></h6>
          <p class="card-text" th:id="${'text_'+ topic.getId()}" th:text="${topic.getContent()}"></p>
          <i class="fa fa-thumbs-o-up" th:id="${'iconLikeOfTopic-' + topic.getId()}"  th:attr="data-id=${topic.getId()}"></i>
          <span class="text-info" id="likeCounter" th:attr="data-id=${topic.getId()}" th:text="${topic.getLikes()}"></span>
        </div>
      </div>
    </th:block>
  </div>
  <!-- Кнопка добавления топика -->
  <div sec:authorize="isAuthenticated()" th:replace="fragments/add-topic-modal :: add-topic_button"></div>
</div>

<!--------------------------------------------------------------------------------------------------------------------->

<!------------------------------------------------ Модальное окно ----------------------------------------------------->
<nav th:replace="fragments/add-topic-modal :: add-topic_modal"></nav>
<!--------------------------------------------------------------------------------------------------------------------->

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/all_topics_events.js"></script>
<script src="/js/getAllTopicsByHashtag.js"></script>
<script src="/js/getAndPrintModeratedTopics.js"></script>
<script src="/js/util/topic-in-card.js"></script>
<script src="/js/add-topic_events.js"></script>
<script src="/js/util/timeConverter.js"></script>
<script src="/js/parseText.js"></script>
<script src="/js/likedTopic.js"></script>
<script src="/js/select2/js/select2.js"></script>
<script sec:authorize="isAuthenticated()" src="/js/addTopic.js"></script>
<script sec:authorize="isAuthenticated()" src="/js/add-topic_events.js"></script>
<script sec:authorize="isAuthenticated()" src="/js/getNotifCounterByPrincipal.js"></script>
</body>
</html>
