<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
<!------------------------------------------------------- Шапка ------------------------------------------------------->
<nav th:replace="fragments/header :: home_header"></nav>
<div>
    <input type="hidden" id="userId" name="userId" th:value="${user.id}"/>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------- Топики ------------------------------------------------------>

<div class="d-flex justify-content-center py-5">
    <div id="topics_container" class="container mx-0 py-3">
        <!-- Заполняется скриптом getAndPrintAllTopicsOfUser -->
    </div>
    <!-- Кнопка добавления топика -->
    <div class="my-3">
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalWindowCreateTopic">Новая статья</button>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------->

<!-- Modal -->
<div
        class="modal fade"
        id="modalWindowCreateTopic"
        tabindex="-1"
        role="dialog"
        aria-labelledby="createTopic"
        aria-hidden="true"
>

    <!--    контейнер уведомлений создания топиков-->
    <div id="containerAlertsCreatedTopic"></div>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Создать статью</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="formAddTopic">
                    <div class="form-group">
                        <label for="titleTopic">Заголовок</label>
                        <input type="text" class="form-control" id="titleTopic" name="title">
                    </div>
                    <div class="form-group">
                        <label for="contentTopic">Содержание</label>
                        <textarea class="form-control" id="contentTopic" rows="10" name="content"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseFormCreateTopic">Закрыть</button>
                <button type="button" class="btn btn-primary" id="btnCreateTopic">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/home_events.js"></script>
<script src="/js/getAllTopicsByHashtag.js"></script>
<script src="/js/getAndPrintAllTopicsOfUser.js"></script>
<script src="/js/addTopic.js"></script>
</body>
</html>
