<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!--    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>-->
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

<!-- Top-->
<div id="home">
    <div class="container-fluid">
        <div id="tab-pane" class="row">
            <div class="col">
                <nav class="navbar">
                    <a class="nav-link font-weight-boldt text-left" href="/home">Home</a>
                    <a class="nav-link font-weight-boldt text-right" href="/logout">Logout</a>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Left Menu-->
<div id="left-menu" class="row h-100 ">
    <div class="col-2 list-group">
        <ul class="nav my-2 flex-column">
            <li class="nav-item">
                <a class="btn btn-light" href="#" role="button">My articles</a>
            </li><br>
            <li class="nav-item">
                <a class="btn btn-light" href="#" role="button">Create article</a>
            </li>
        </ul>
    </div>
</div>


</body>
