<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">
            <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<!--        <link rel="stylesheet" type="text/css" href="/css/style.css"/>-->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

<body class="bg-light text-center">
<form class="form-signin" method="post" action="/login">
    <div class="mx-auto my-5" style="width: 100%; max-width: 330px;">
        <img class="mb-4" src="../static/img/bootstrap-solid.svg" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <input type="text" name="username" class="form-control " placeholder="Username">
        <input type="password" name="password" class="form-control" placeholder="Password">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
    </div>
</form>
</body>
</html>