<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Topic page</title>
</head>
<body>
<!------------------------------------------------------- Шапка ------------------------------------------------------->
<nav th:replace="fragments/header :: home_header"></nav>
<!--------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------- Топики ------------------------------------------------------>
<div class="container" id="single_topic_container">
    <div class="card p-3 mt-5" th:id="topicId" th:data-topic-id="${topicId}">
        <h5 class="card-header-author" id="topicAuthor"></h5>
        <div class="card-body row">
            <div class="col-md-3">
                <img class="card-img topic-img" id="topicImg">
            </div>
            <div class="col-md-7">
                <h5 class="card-title-onTopic" id="topicTitle"></h5>
                <div id="hashtags" class="d-flex flex-wrap"></div>
               <pre> <span class="card-text-onTopic" id="topicContent"  ></span></pre>

                <div class="block-like" th:classappend="${#lists.contains(topic.likedUsers, user)} ? 'active' : ''">
                    <i class="fa fa-thumbs-o-up fa_topic" th:data-id="${topic.getId()}"></i>
                    <span id="likeCounter" th:text="${topic.getLikes()}"></span>
                </div>
                <div class="block-dislike" th:classappend="${#lists.contains(topic.dislikedUsers, user)} ? 'active' : ''">
                    <i class="fa fa-thumbs-o-down fa_topic" th:data-id="${topic.getId()}"></i>
                    <span id="dislikeCounter" th:text="${topic.getDislikes()}"></span>
                </div>

            </div>
        </div>
    </div>
    <!-------------------------------------------- Блок добавления коммента------------------------------------------------------------>
    <br>
    <div class="new-comment">
        <div class="comment-box">
            <form>
                <div class="form-group" style="margin: 0">
                    <textarea class="form-control" id="textareaResize" rows="1" style="resize:none; overflow: hidden;"
                              placeholder="Добавьте Ваш комментарий" name="comment" required=""></textarea>
                </div>
                <!-- Кнопка добавления коммента через скрипт addComment-->
                <div class="form-group">
                    <button id="add_comment_button" class="btn btn-sm btn-primary float-left" type="submit"><i
                            class="fas fa-pencil-alt"></i>
                        Добавить
                    </button>
                    <div class="counter form-group float-right">Осталось символов: <b><span id="counter"></span></b>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--------------------------------------- Комментарии ----------------------------------------------------------------->
    <div class="d-flex justify-content-center" style="clear: both">
        <!-- Заполняется скриптом comment-in-card -->
        <div id="comments_container" class="container m-0 p-0">
            <th:block th:each="comment: ${comments}">
                <div class="card mb-2"  th:id="commentCard-+${comment.getId()}">
                    <div class="card-header d-flex justify-content-between">
                        <h6 class="card-comment-author"
                            th:text="${comment.getAuthor().getFirstName()+ ' ' + comment.getAuthor().getLastName()}"></h6>
                        <div id="datecreated">
                            <h6 th:text="${#temporals.format(comment.getDateCreated(), 'd MMMM yyyy в HH:mm')}"></h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:utext="${comment.getText()}"></p>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex bd-highlight mb-2">
                            <div class="mr-auto p-2 bd-highlight">
                        <span class="like" th:classappend="${#lists.contains(comment.likedUsers, user)} ? 'rated' : ''">
                            <i class="fa fa-thumbs-o-up" th:data-id="${comment.getId()}"></i>
                            <span class="likes-num likeCount" th:id="likesId-+${comment.getId()}" th:text="${comment.getLikes()}"></span>
                        </span>
                        <span class="dislike" th:classappend="${#lists.contains(comment.dislikedUsers, user)} ? 'rated' : ''">
                            <i class="fa fa-thumbs-o-down"  th:data-id="${comment.getId()}"></i>
                            <span class="dislikes-num likeCount" th:id="dislikesId-+${comment.getId()}" th:text="${comment.getDislikes()}"></span>
                        </span>
                            </div>
                            <div class="delete_comment_button">
                            <div class="p-2 bd-highlight">
                                <button  class="btn-sm btn-danger" sec:authorize="hasAuthority('USER')" th:value="${comment.getId()}"
                                         th:if="${comment.getAuthor().equals(#authentication.getPrincipal())}">Удалить комментарий</button>
                                <button  class="btn-sm btn-danger" th:value="${comment.getId()}"
                                         sec:authorize="hasAuthority('ADMIN')">Уалить комментарий</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>

<!--------------------------------------------Модальное окно открывается только для неавторизованных пользователей------------------------------------------------------------>
<div sec:authorize="!isAuthenticated()" class="modal fade" id="authorizationModal" tabindex="-1" role="dialog"
     aria-labelledby="authorizationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2>Войдите, чтобы отправлять и оценивать комментарии</h2>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-around">
                    <a type="button" class="btn btn-success" href="/login">Авторизация</a>
                    <a type="button" class="btn btn-primary" href="/registration">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------->
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/getTopicById.js"></script>
<script src="/js/parseText.js"></script>
<script src="/js/getAllTopicsByHashtag.js"></script>
<script>$('#finderByHashtag').hide();</script>
<script src="/js/textareaResize.js"></script>
<script src="/js/addComment.js"></script>
<script src="/js/util/comment-in-card.js"></script>
<script src="/js/util/timeConverter.js"></script>
<script src="/js/util/counterForSymbols.js"></script>
<script src="/js/likedTopic.js"></script>
<script src="/js/likedComment.js"></script>
<script src="/js/delete_comment.js"></script>
</body>
</html>
