<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Topic page</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


</head>
<body>
<div class="card p-3" th:id="topicId" th:data-topic-id="${topicId}">
    <h5 class="card-header" id="topicAuthor"></h5>
    <div class="card-body">
        <h5 class="card-title" id="topicTitle"></h5>
        <div id="hashtags" class="d-flex flex-wrap">
            <a href="#"><h6>#HashTag_1</h6></a>
            <a href="#"><h6>#HashTag_2</h6></a>
            <a href="#"><h6>#HashTag_3</h6></a>
            <a href="#"><h6>#HashTag_4</h6></a>
            <a href="#"><h6>#HashTag_5</h6></a>
            <a href="#"><h6>#HashTag_6</h6></a>
            <a href="#"><h6>#HashTag_7</h6></a>
            <a href="#"><h6>#HashTag_8</h6></a>
            <a href="#"><h6>#HashTag_9</h6></a>
            <a href="#"><h6>#HashTag_10</h6></a>
            <a href="#"><h6>#HashTag_11</h6></a>
            <a href="#"><h6>#HashTag_12</h6></a>
            <a href="#"><h6>#HashTag_13</h6></a>
            <a href="#"><h6>#HashTag_14</h6></a>
            <a href="#"><h6>#HashTag_15</h6></a>
            <a href="#"><h6>#HashTag_16</h6></a>
            <a href="#"><h6>#HashTag_17</h6></a>
            <a href="#"><h6>#HashTag_18</h6></a>
            <a href="#"><h6>#HashTag_19</h6></a>
            <a href="#"><h6>#HashTag_20</h6></a>
            <a href="#"><h6>#HashTag_21</h6></a>
            <a href="#"><h6>#HashTag_22</h6></a>
            <a href="#"><h6>#HashTag_23</h6></a>
            <a href="#"><h6>#HashTag_24</h6></a>
            <a href="#"><h6>#HashTag_25</h6></a>
        </div>
        <p class="card-text" id="topicContent"></p>
    </div>
</div>
</body>
<script src="/js/getTopicById.js"></script>
</html>