<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="webjars/bootstrap-multiselect/0.9.15/dist/css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link href="/css/style.css" rel="stylesheet">
    <title>Форма редактирования пользователя</title>
</head>

<body>
<nav th:replace="fragments/header :: home_header"></nav>

<div class="container col-md-5">
    <div class="editForm-header">
        <h4 class="modal-title">Edit user [${user.username}]</h4>
    </div>
    <div class="card">
        <div class="card-body">
          
            <!--/*@thymesVar id="user" type="ru.javamentor.model.User"*/-->
            <form action="/user" th:object="${user}" method="post">


                <div class="modal-body">
                    <!-- скрытые поля. начало -->
                    <div hidden="true">
                        <input th:field="*{id}" id="id-for-edit"/>
                    </div>

                    <div class="form-group">
                        <label for="username-for-view">Логин</label>
                        <input class="form-control" id="username-for-view" th:field="*{username}" readonly>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password" name="password">
                        <span class="text-danger" th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}"></span>
                    </div>

                    <div class="form-group">
                        <label for="matchingPassword">Подтверждение пароля</label>
                        <input type="password" class="form-control" id="matchingPassword" name="matchingPassword">
                        <span class="text-danger" th:if="${#fields.hasErrors('matchingPassword')}"
                              th:errors="*{matchingPassword}"></span>
                    </div>
                    <div class="form-group">
                        <label for="firstName-for-edit">Имя</label>
                        <input th:field="*{firstName}" class="form-control" id="firstName-for-edit">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="lastName-for-edit">Фамилия</label>
                        <input th:field="*{lastName}" class="form-control" id="lastName-for-edit">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="phoneNumber-for-edit">Номер телефона:</label>
                        <input th:field="*{phoneNumber}" class="form-control" id="phoneNumber-for-edit">
                    </div>
                    <br>

                    <!--------------------------------Блок выбора предпочитаемой темы---------------------------------->
                    <div class="form-group" id="all_themes" style="border:1px solid lightgrey; border-radius: 5px">
                        <label for="themesFromDB" style="padding: 0 12px; font-size: initial">Выбери предпочитаемые темы: </label>
                        <select name="themes" id="themesFromDB" multiple="multiple">
                            <option th:each="theme : ${themes}" th:value="${theme.getId()}" th:text="${theme.getName()}"
                                    th:selected="${false}"></option>
                            <option th:each="themeOfUser : ${themesOfUser}" th:value="${themeOfUser.getId()}"
                                    th:text="${themeOfUser.getName()}" th:selected="${true}"></option>
                        </select>
                    </div>
                    <!------------------------------------------------------------------------------------------------->
                    <!---------------------------------Блок выбора авторов для подписки-------------------------------->
                    <div class="form-group" id="all_subscribes" style="border:1px solid lightgrey; border-radius: 5px">
                        <label for="subscribesFromDB" style="padding: 0 12px; font-size: initial">Мои подписки: </label>
                        <select name="subscribes" id="subscribesFromDB" multiple="multiple">
                            <option th:each="notSubscribed : ${notSubscribedAuthors}" th:value="${notSubscribed}"
                                    th:text="${notSubscribed}" th:selected="${false}"></option>
                            <option th:each="subscribe : ${subscribes}" th:value="${subscribe}"
                                    th:text="${subscribe}" th:selected="${true}"></option>
                        </select>
                    </div>
                    <!------------------------------------------------------------------------------------------------->
                </div>
                <div class="editForm-footer">
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                </div>
            </form>
        </div>
    </div>
    <div class="social-buttons">
        <div class="social telegram">
            <a href="https://t.me/clonemedium" target="_blank"><i class="fab fa-telegram-plane fa-2x"></i></a>
        </div>
    </div>
</div>


<script src="/webjars/jquery/3.4.1/jquery.js"></script>
<script src="/webjars/bootstrap-multiselect/0.9.15/dist/js/bootstrap-multiselect.js"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/getAllThemes.js"></script>
<script src="/js/getNotifCounterByPrincipal.js"></script>
<script src="/js/header_events.js"></script>
</body>

</html>