<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="webjars/bootstrap-multiselect/0.9.15/dist/css/bootstrap-multiselect.css">
    <link href="/css/style.css" rel="stylesheet">
    <title>Форма редактирования пользователя</title>
</head>

<body>
<nav th:replace="fragments/header :: home_header"></nav>

<div class="container col-md-5">
    <div class="editForm-header">
        <h4 class="modal-title">Edit user [[${user.username}]]</h4>
    </div>
    <div class="card">
        <div class="card-body">

            <!--/*@thymesVar id="user" type="ru.javamentor.model.User"*/-->
            <form action="/user" th:object="${user}" method="post">

                <!-- Модальное окно Уведомлений -->
                <div th:replace="fragments/notification_modal_dropdown :: notification_modal_dropdown"></div>

                <div class="modal-body">
                    <!-- скрытые поля. начало -->
                    <div hidden="true">
                        <input th:field="*{id}" id="id-for-edit"/>
                    </div>

                    <div class="form-group">
                        <label for="username-for-view">Логин</label>
                        <input class="form-control" id="username-for-view" th:field="*{username}" readonly>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password" name="password">
                        <span class="text-danger" th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}"></span>
                    </div>

                    <div class="form-group">
                        <label for="matchingPassword">Подтверждение пароля</label>
                        <input type="password" class="form-control" id="matchingPassword" name="matchingPassword">
                        <span class="text-danger" th:if="${#fields.hasErrors('matchingPassword')}"
                              th:errors="*{matchingPassword}"></span>
                    </div>
                    <div class="form-group">
                        <label for="firstName-for-edit">Имя</label>
                        <input th:field="*{firstName}" class="form-control" id="firstName-for-edit">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="lastName-for-edit">Фамилия</label>
                        <input th:field="*{lastName}" class="form-control" id="lastName-for-edit">
                    </div>
                    <br>

                    <!--------------------------------Блок выбора предпочитаемой темы---------------------------------->
                    <p>Предпочитаемые темы</p>
                    <div class="row">
                        <ul style="padding-left: 15px;">
                            <li th:each="theme,iter : ${allThemes}" th:if="${iter.index<allThemes.size()/2.0}"
                                style="list-style-type:none;">
                                <input type="checkbox" name="themes"
                                       th:id="theme+${theme.getId()}"
                                       th:if="${userThemes.contains(theme)}"
                                       th:value="${theme.getId()}"
                                       checked/>
                                <input type="checkbox" name="themes"
                                       th:id="theme+${theme.getId()}"
                                       th:if="!${userThemes.contains(theme)}"
                                       th:value="${theme.getId()}"/>
                                <label th:for="theme+${theme.getId()}" th:text="${theme.getName()}"></label>
                            </li>
                        </ul>
                        <ul style="margin-left:100px">
                            <li th:each="theme,iter : ${allThemes}" th:if="${iter.index>=allThemes.size()/2.0}"
                                style="list-style-type:none;">
                                <input type="checkbox" name="themes"
                                       th:id="theme+${theme.getId()}"
                                       th:if="${userThemes.contains(theme)}"
                                       th:value="${theme.getId()}"
                                       checked/>
                                <input type="checkbox" name="themes"
                                       th:id="theme+${theme.getId()}"
                                       th:if="!${userThemes.contains(theme)}"
                                       th:value="${theme.getId()}"/>
                                <label th:for="theme+${theme.getId()}" th:text="${theme.getName()}"></label>
                            </li>
                        </ul>
                    </div>
                    <!------------------------------------------------------------------------------------------------->
                </div>
                <div class="editForm-footer">
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="/webjars/jquery/3.4.1/jquery.js"></script>
<script src="/webjars/bootstrap-multiselect/0.9.15/dist/js/bootstrap-multiselect.js"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
<script src="/js/getAllNotifications.js"></script>
<script src="/js/header_events.js"></script>
<script src="/js/util/ws.js"></script>
</body>

</html>